<div class="wrap steps-panel posR tH l0">
  <h1 class="beta">Enter height:</h1>
  <div class="js-input pVl">
    <div class="selectField dB">
      <div class="selectField-control">
        <select name="overallHeight" autofocus tabindex="1">
          <%
            Object.keys(selectOpts).forEach(function(key) {
          %>
            <option value="<%= selectOpts[key] %>" <%= selectOpts[key] == data.overallHeight ? 'selected' : void 0 %>>
              <%= key %>
            </option>
          <%
            });
          %>
        </select>
      </div>
    </div>
  </div>
  <div class="grid mTm txtC">
    <div class="grid-cell vaM w100 maw5">
      <svg class="w100 js-icon" viewBox="0 0 97 101" role="presentation">
        <use xlink:href="#svg--height"/>
      </svg>
    </div>
    <div class="grid-cell txtC vaM mLxl">
      <div class="<%= styles.output %>">
        <span class="js-output beta"><%= outputFormat(data.overallHeight) %></span> <span class="gamma">m</span>
      </div>
    </div>
  </div>
</div>
