<div class="wrap steps-panel posR tH l0">
  <h1 class="beta">Enter surface area:</h1>
  <div class="js-input pVl">
    <input type="number" min="0" name="surfaceArea" autofocus tabindex="1" value="<%= data.surfaceArea || '' %>">
  </div>
  <div class="grid mTm txtC">
    <div class="grid-cell vaM w100 maw5">
      <svg class="w100 js-icon" viewBox="0 0 87.6 101" role="presentation">
        <use xlink:href="#svg--surfaceArea"/>
      </svg>
    </div>
    <div class="grid-cell txtC vaM mLxl">
      <div class="<%= styles.output %>">
        <span class="js-output beta"><%= data.surfaceArea %></span> <span class="gamma">m<sup>2</sup></span>
      </div>
    </div>
  </div>
</div>
